In [27]:
import pandas as pd
data=pd.read_csv('loan_grant_training_data.csv')
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,120.0,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [28]:
data.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [29]:
data.shape

(614, 13)

In [30]:
print("Number of Rows", data.shape[0])
print("Number of Columns", data.shape[1])

Number of Rows 614
Number of Columns 13

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    object
 2   Married            614 non-null    object
 3   Dependents         611 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      608 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         593 non-null    float64
 9   Loan_Amount_Term   601 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [32]:
data.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            3
Education             0
Self_Employed         6
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           21
Loan_Amount_Term     13
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [33]:
## 9. Feature Scaling
data.isnull().sum()*100/len(data)

Loan_ID              0.000000
Gender               0.000000
Married              0.000000
Dependents           0.488599
Education            0.000000
Self_Employed        0.977199
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           3.420195
Loan_Amount_Term     2.117264
Credit_History       8.143322
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [34]:
data=data.drop('Loan_ID',axis=1)

In [35]:
data.head(1)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,120.0,360.0,1.0,Urban,Y

In [36]:
columns=['Gender','Dependents','LoanAmount','Loan_Amount_Term']

In [37]:
data=data.dropna(subset=columns)

In [38]:
data.isnull().sum()*100/len(data)

Gender               0.000000
Married              0.000000
Dependents           0.000000
Education            0.000000
Self_Employed        1.038062
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           0.000000
Loan_Amount_Term     0.000000
Credit_History       8.477509
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [39]:
data['Self_Employed'].mode()[0]

'No'

In [40]:
data['Self_Employed']=data['Self_Employed'].fillna(data['Self_Employed'].mode()[0])
data['Gender']=data['Gender'].fillna(data['Gender'].mode()[0])
data['Married']=data['Married'].fillna(data['Married'].mode()[0])
data['Dependents']=data['Dependents'].fillna(data['Dependents'].mode()[0])
data['Education']=data['Education'].fillna(data['Education'].mode()[0])
data['Self_Employed']=data['Self_Employed'].fillna(data['Self_Employed'].mode()[0])
data['ApplicantIncome']=data['ApplicantIncome'].fillna(data['ApplicantIncome'].mode()[0])
data['CoapplicantIncome']=data['CoapplicantIncome'].fillna(data['CoapplicantIncome'].mode()[0])
data['LoanAmount']=data['LoanAmount'].fillna(data['LoanAmount'].mode()[0])
data['Loan_Amount_Term']=data['Loan_Amount_Term'].fillna(data['Loan_Amount_Term'].mode()[0])
data['Credit_History']=data['Credit_History'].fillna(data['Credit_History'].mode()[0])
data['Loan_Amount_Term']=data['Loan_Amount_Term'].fillna(data['Loan_Amount_Term'].mode()[0])
data['Credit_History']=data['Credit_History'].fillna(data['Credit_History'].mode()[0])
data['Property_Area']=data['Property_Area'].fillna(data['Property_Area'].mode()[0])
data['Loan_Status']=data['Loan_Status'].fillna(data['Loan_Status'].mode()[0])

In [41]:
data.isnull().sum()*100/len(data)

Gender               0.0
Married              0.0
Dependents           0.0
Education            0.0
Self_Employed        0.0
ApplicantIncome      0.0
CoapplicantIncome    0.0
LoanAmount           0.0
Loan_Amount_Term     0.0
Credit_History       0.0
Property_Area        0.0
Loan_Status          0.0
dtype: float64

In [42]:
data['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [43]:
data['Self_Employed'].unique()

array(['No', 'Yes'], dtype=object)

In [44]:
data['Credit_History'].mode()[0]

1.0

In [45]:
data['Credit_History']=data['Credit_History'].fillna(data['Credit_History'].mode()[0])

In [46]:
data.isnull().sum()*100/len(data)

Gender               0.0
Married              0.0
Dependents           0.0
Education            0.0
Self_Employed        0.0
ApplicantIncome      0.0
CoapplicantIncome    0.0
LoanAmount           0.0
Loan_Amount_Term     0.0
Credit_History       0.0
Property_Area        0.0
Loan_Status          0.0
dtype: float64

In [47]:
data.sample(5)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
587,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban,Y
420,Male,Yes,0,Graduate,No,5829,0.0,138.0,360.0,1.0,Rural,Y
488,Male,Yes,2,Graduate,Yes,4583,2083.0,160.0,360.0,1.0,Semiurban,Y
82,Female,Yes,2,Graduate,No,1378,1881.0,167.0,360.0,1.0,Urban,N
594,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban,Y

In [48]:
data['Dependents']=data['Dependents'].replace(to_replace="3+", value='4')

In [49]:
data['Dependents'].unique()

array(['0', '1', '2', '4'], dtype=object)

In [50]:
data['Loan_Status'].unique()

array(['Y', 'N'], dtype=object)

In [51]:
# data['Gender']=data['Gender'].map({'Male':1,'Female':0}).astype(float)
# data['Married']=data['Married'].map({'Yes':1, 'No':0})
# data['Education']=data['Education'].map({'Graduate':1, 'Not Graduate':0})
# data['Self_Employed']=data['Self_Employed'].map({'Yes':1, 'No':0})
# data['Property_Area']=data['Property_Area'].map({'Rural':0, 'urban':1, 'Semiurban':2})
# data['Loan_Status']=data['Loan_Status'].map({'Y':1, 'N':0})

In [54]:
gender_new_data=[]
married_new_data=[]
education_new_data=[]
self_employed_new_data=[]
property_area_new_data=[]
loan_status_new_data=[]
for i in data['Gender'].values:
    if i == 'Male':
        gender_new_data.append(1)
    elif i == 'Female':
        gender_new_data.append(0) 
        
for i in data['Married'].values:
    if i == 'Yes':
        married_new_data.append(1)
    elif i == 'No':
        married_new_data.append(0) 
        
for i in data['Education'].values:
    if i == 'Graduate':
        education_new_data.append(1)
    elif i == 'Not Graduate':
        education_new_data.append(0) 
        
for i in data['Self_Employed'].values:
    if i == 'Yes':
        self_employed_new_data.append(1)
    elif i == 'No':
        self_employed_new_data.append(0) 
        
for i in data['Property_Area'].values:
    if i == 'Rural':
        gender_new_data.append(0)
    elif i == 'Semiurban':
        property_area_new_data.append(1) 
    elif i == 'Urban':
        property_area_new_data.append(2)
        
for i in data['Loan_Status'].values:
    if i == 'Y':
        loan_status_new_data.append(1)
    elif i == 'N':
        loan_status_new_data.append(0)

gender_new_data=gender_new_data[:410]
married_new_data=married_new_data[:410]
education_new_data=education_new_data[:410]
self_employed_new_data=self_employed_new_data[:410]
loan_status_new_data=loan_status_new_data[:410]

        
# print(len(gender_new_data))
# print(len(married_new_data))
# print(len(education_new_data))
# print(len(self_employed_new_data))
# print(len(property_area_new_data))
# print(len(loan_status_new_data))
data1=pd.DataFrame({'Gender':gender_new_data, 'Married':married_new_data, 'Education':education_new_data, 'Self_Employed':self_employed_new_data, 'Dependents':data['Dependents'][:410], 'ApplicantIncome':data['ApplicantIncome'][:410], 'CoapplicantIncome':data['CoapplicantIncome'][:410], 'LoanAmount':data['LoanAmount'][:410], 'Loan_Amount_Term':data['Loan_Amount_Term'][:410], 'Credit_History':data['Credit_History'][:410], 'Property_Area':property_area_new_data, 'Loan_Status':loan_status_new_data})
data1

,Gender,Married,Education,Self_Employed,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1,0,1,0,0,5849,0.0,120.0,360.0,1.0,2,1
1,1,1,1,0,1,4583,1508.0,128.0,360.0,1.0,2,0
2,1,1,1,1,0,3000,0.0,66.0,360.0,1.0,2,1
3,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,2,1
4,1,0,1,0,0,6000,0.0,141.0,360.0,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
434,1,0,1,0,0,3750,0.0,100.0,360.0,1.0,1,1
436,1,0,1,0,0,1926,1851.0,50.0,360.0,1.0,1,1
438,1,0,1,1,0,10416,0.0,187.0,360.0,0.0,2,0
439,0,1,0,1,0,7142,0.0,138.0,360.0,1.0,2,1
440,1,0,1,0,0,3660,5064.0,187.0,360.0,1.0,1,1

In [55]:
X=data1.drop('Loan_Status', axis=1)
y=data1['Loan_Status']
X

,Gender,Married,Education,Self_Employed,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,0,1,0,0,5849,0.0,120.0,360.0,1.0,2
1,1,1,1,0,1,4583,1508.0,128.0,360.0,1.0,2
2,1,1,1,1,0,3000,0.0,66.0,360.0,1.0,2
3,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,2
4,1,0,1,0,0,6000,0.0,141.0,360.0,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...
434,1,0,1,0,0,3750,0.0,100.0,360.0,1.0,1
436,1,0,1,0,0,1926,1851.0,50.0,360.0,1.0,1
438,1,0,1,1,0,10416,0.0,187.0,360.0,0.0,2
439,0,1,0,1,0,7142,0.0,138.0,360.0,1.0,2
440,1,0,1,0,0,3660,5064.0,187.0,360.0,1.0,1

In [56]:
data1.head()

,Gender,Married,Education,Self_Employed,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1,0,1,0,0,5849,0.0,120.0,360.0,1.0,2,1
1,1,1,1,0,1,4583,1508.0,128.0,360.0,1.0,2,0
2,1,1,1,1,0,3000,0.0,66.0,360.0,1.0,2,1
3,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,2,1
4,1,0,1,0,0,6000,0.0,141.0,360.0,1.0,2,1

In [57]:
##Training Model Columns
cols=['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term']

In [58]:
from sklearn.preprocessing import StandardScaler
st=StandardScaler()
X[cols]=st.fit_transform(X[cols])
X

,Gender,Married,Education,Self_Employed,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,0,1,0,0,0.056283,-0.689515,-0.296630,0.257486,1.0,2
1,1,1,1,0,1,-0.131102,-0.017869,-0.203024,0.257486,1.0,2
2,1,1,1,1,0,-0.365407,-0.689515,-0.928474,0.257486,1.0,2
3,1,1,0,0,0,-0.427129,0.360712,-0.296630,0.257486,1.0,2
4,1,0,1,0,0,0.078633,-0.689515,-0.050913,0.257486,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...
434,1,0,1,0,0,-0.254397,-0.689515,-0.530646,0.257486,1.0,1
436,1,0,1,0,0,-0.524374,0.134900,-1.115688,0.257486,1.0,1
438,1,0,1,1,0,0.732261,-0.689515,0.487325,0.257486,0.0,2
439,0,1,0,1,0,0.247665,-0.689515,-0.086015,0.257486,1.0,2
440,1,0,1,0,0,-0.267718,1.565933,0.487325,0.257486,1.0,1

In [59]:
## 10. Splitting The Dataset Into The Training Set And Test Set & Applying K-Fold Cross Validation
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
import numpy as np

In [60]:
model_df={}
def model_val(model,X,y):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=42)
    
    model.fit(X_train, y_train)
    y_pred=model.predict(X_test)
    print(f"{model} accuracy is {accuracy_score(y_test,y_pred)}")
    
    score=cross_val_score(model,X,y,cv=5)
    print(f'{model} Avg cross val score is {np.mean(score)}')
    model_df[model]=round(np.mean(score)*100,2)

In [61]:
model_df

{}

In [62]:
## Logistic Regression

from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
# print(accuracy_score(model))
model_val(model,X,y)

LogisticRegression() accuracy is 0.7682926829268293
LogisticRegression() Avg cross val score is 0.7902439024390244

In [63]:
## SVC

from sklearn import svm
model=svm.SVC()

In [64]:
## Decision Tree Classifier

from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()

In [65]:
## Hyperparameter Tuning

from sklearn.model_selection import RandomizedSearchCV

In [66]:
# Logistic Regression

log_reg_grid={"C":np.logspace(-4,4,20),
             "solver":['liblinear']}

rs_log_reg=RandomizedSearchCV(LogisticRegression(), param_distributions=log_reg_grid,
                             n_iter=20, cv=5, verbose=True)

rs_log_reg.fit(X,y)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

RandomizedSearchCV(cv=5, estimator=LogisticRegression(), n_iter=20,
                   param_distributions={'C': array([1.00000000e-04, 2.63665090e-04, 6.95192796e-04, 1.83298071e-03,
       4.83293024e-03, 1.27427499e-02, 3.35981829e-02, 8.85866790e-02,
       2.33572147e-01, 6.15848211e-01, 1.62377674e+00, 4.28133240e+00,
       1.12883789e+01, 2.97635144e+01, 7.84759970e+01, 2.06913808e+02,
       5.45559478e+02, 1.43844989e+03, 3.79269019e+03, 1.00000000e+04]),
                                        'solver': ['liblinear']},
                   verbose=True)

In [67]:
rs_log_reg.best_score_

0.7902439024390244

In [68]:
rs_log_reg.best_params_

{'solver': 'liblinear', 'C': 0.23357214690901212}

In [69]:
## SVC

svc_grid={'C':[0.25,0.50,0.75,1], "kernel":["linear"]}

rs_svc=RandomizedSearchCV(svm.SVC(), param_distributions=svc_grid, cv=5, n_iter=20, verbose=True)

rs_svc.fit(X,y)

C:\Users\DELL\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:307: UserWarning: The total space of parameters 4 is smaller than n_iter=20. Running 4 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

Fitting 5 folds for each of 4 candidates, totalling 20 fits

RandomizedSearchCV(cv=5, estimator=SVC(), n_iter=20,
                   param_distributions={'C': [0.25, 0.5, 0.75, 1],
                                        'kernel': ['linear']},
                   verbose=True)

In [70]:
rs_svc.best_score_

0.8000000000000002

In [71]:
rs_svc.best_params_

{'kernel': 'linear', 'C': 0.25}

In [72]:
from sklearn.ensemble import RandomForestClassifier
model =RandomForestClassifier()
model_val(model,X,y)

RandomForestClassifier() accuracy is 0.7317073170731707
RandomForestClassifier() Avg cross val score is 0.7780487804878049

In [73]:
RandomForestClassifier()
rf_grid={'n_estimators':np.arange(10,1000,10),
        'max_features':['auto','sqrt'],
        'max_depth':[None,3,5,10,20,30],
        'min_samples_split':[2,5,20,50,100],
        'min_samples_leaf':[1,2,5,10]
        }

In [74]:
rs_rf=RandomizedSearchCV(RandomForestClassifier(),
                        param_distributions=rf_grid,
                        cv=5,
                        n_iter=20,
                        verbose=True)

rs_rf.fit(X,y)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

C:\Users\DELL\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
35 fits failed out of a total of 100.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
35 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\DELL\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\DELL\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\DELL\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\DELL\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\DELL\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [0.8        0.79512195        nan 0.79512195        nan 0.8
        nan 0.79756098 0.8               nan        nan        nan
 0.7804878  0.8               nan 0.79756098 0.79756098 0.77804878
 0.79756098 0.79512195]
  warnings.warn(

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(), n_iter=20,
                   param_distributions={'max_depth': [None, 3, 5, 10, 20, 30],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 5, 10],
                                        'min_samples_split': [2, 5, 20, 50,
                                                              100],
                                        'n_estimators': array([ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100, 110, 120, 130,
       140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260,
       270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390,
       400, 410, 420, 430, 440, 450, 460, 470, 480, 490, 500, 510, 520,
       530, 540, 550, 560, 570, 580, 590, 600, 610, 620, 630, 640, 650,
       660, 670, 680, 690, 700, 710, 720, 730, 740, 750, 760, 770, 780,
       790, 800, 810, 820, 830, 840, 850, 860, 870, 880, 890, 900, 910,
       920, 930, 940, 950, 960, 970, 980, 990])},
                   verbose=True)

In [75]:
rs_rf.best_score_

0.8000000000000002

In [76]:
rs_rf.best_params_

{'n_estimators': 960,
 'min_samples_split': 2,
 'min_samples_leaf': 10,
 'max_features': 'sqrt',
 'max_depth': 3}

In [77]:
# LogisticRegression score Before Hyperparameter Tuning: 80.48

In [78]:
## Save The Model

X=data1.drop('Loan_Status', axis=1)
y=data1['Loan_Status']

rf=RandomForestClassifier(n_estimators=270,
                         min_samples_split=5,
                         min_samples_leaf=5,
                         max_features='sqrt',
                         max_depth=5)

rf.fit(X,y)

RandomForestClassifier(max_depth=5, min_samples_leaf=5, min_samples_split=5,
                       n_estimators=270)

In [79]:
import joblib

joblib.dump(rf, 'Loan_status_predict')

['Loan_status_predict']

In [80]:
model=joblib.load('loan_status_predict')

In [81]:
import pandas as pd
df=pd.DataFrame({
    'Gender':1,
    'Married':1,
    'Education':0,
    'Self_Employed':0,
    'Dependents':2,
    'ApplicantIncome':2889,
    'CoapplicantIncome':0.0,
    'LoanAmount':45,
    'Loan_Amount_Term':180,
    'Credit_History':0,
    'Property_Area':1
}, index=[0])

df

,Gender,Married,Education,Self_Employed,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,1,0,0,2,2889,0.0,45,180,0,1

In [82]:
result=model.predict(df)

if result==1:
    print("Loan Approved")
else:
    print("Loan Not Approved")

Loan Not Approved

In [95]:
# ------------------------------------------------------------------------
## GUI

from tkinter import *
import joblib
import pandas as pd

In [96]:
def show_entry():
    p1=float(e1.get())
    p2=float(e2.get())
    p3=float(e3.get())
    p4=float(e4.get())
    p5=float(e5.get())
    p6=float(e6.get())
    p7=float(e7.get())
    p8=float(e8.get())
    p9=float(e9.get())
    p10=float(e10.get())
    p11=float(e11.get())
    
    model=joblib.load('loan_status_predict')
    df=pd.DataFrame({
        'Gender':p1,
        'Married':p2,
        'Education':p3,
        'Self_Employed':p4,
        'Dependents':p5,
        'ApplicantIncome':p6,
        'CoapplicantIncome':p7,
        'LoanAmount':p8,
        'Loan_Amount_Term':p9,
        'Credit_History':p10,
        'Property_Area':p11
    }, index=[0])
    result=model.predict(df)
    
    if result==1:
        Label(master, text="Loan Approved").grid(row=31)
    else:
        Label(master, text="Loan Not Approved").grid(row=31)
        
master=Tk()
master.title("Loan Status Prediction Using Machine Learning")
label=Label(master, text="Loan Status Prediction", bg="black", fg="white").grid(row=0, columnspan=2)

Label(master, text="Gender [1:Male, 0:Female]").grid(row=1)
Label(master, text="Married [1:Yes, 0:No]").grid(row=2)
Label(master, text="Education").grid(row=3)
Label(master, text="Self_Employed").grid(row=4)
Label(master, text="Dependents [1,2,3,4]").grid(row=5)
Label(master, text="ApplicantIncome").grid(row=6)
Label(master, text="CoapplicantIncome").grid(row=7)
Label(master, text="LoanAmount").grid(row=8)
Label(master, text="Loan_Amount_Term").grid(row=9)
Label(master, text="Credit_History").grid(row=10)
Label(master, text="Property_Area").grid(row=11)

e1=Entry(master)
e2=Entry(master)
e3=Entry(master)
e4=Entry(master)
e5=Entry(master)
e6=Entry(master)
e7=Entry(master)
e8=Entry(master)
e9=Entry(master)
e10=Entry(master)
e11=Entry(master)

e1.grid(row=1, column=1)
e2.grid(row=2, column=1)
e3.grid(row=3, column=1)
e4.grid(row=4, column=1)
e5.grid(row=5, column=1)
e6.grid(row=6, column=1)
e7.grid(row=7, column=1)
e8.grid(row=8, column=1)
e9.grid(row=9, column=1)
e10.grid(row=10, column=1)
e11.grid(row=11, column=1)

Button(master, text="Predict", command=show_entry).grid()

mainloop()